.update-detail-root{
    background-image: url('https://wallpaperaccess.com/full/11207.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.update-container{
    border: 1px solid black;
    border-radius: 10px;
    background-color: bisque;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
}
.submit-btn{
    display: block;
    margin: auto;
    padding: 10px 35px;
    color: white;
    border-radius: 10px;
    background-color: #000;
}
.input-labels{
    font-size: larger;
    margin: 0;
    font-weight: 500;
}
.form-inputs{
    margin: 20px 0 10px 0px;
    padding: 5px 20px;
    width: 80%;
    height: 40px;
}